* {
   box-sizing: border-box; 
   max-width: 100%;
   margin: 0px;
}

html, body{
    background-color: steelblue;
    min-height: 100vh;
    max-height: 100vh;

}
.maincontainer {
    padding: 50px;
}

.container1 {
    background-color: aliceblue;
    width: 50%;
    margin: 0 auto;
    padding: 30px;
    border-radius: 10px

}
.container2 {
    width: 30%;
    margin: 0 auto;
}
button{
    cursor: pointer;
    padding: 7px;
    font-weight: bolder;
    border-radius: 7px;
}

#btn1 {
    background-color: steelblue;
    color: aliceblue;
    width: 150px;

}
#btn1:hover {
    background-color: aliceblue;
    color: steelblue;
    transition: 0.5s;
    padding: 10px;
    border-radius: 30px;
}

#btn2 {
    width: 100%;
    color: steelblue;
    background-color: aliceblue;

}
#btn2:hover {
    transition: 0.5s;
    color: aliceblue;
    background-color: steelblue;
    border-radius: 30px;

}
footer { 
    position: fixed;
    bottom: 0;
    background-color: grey;
    width: 100%;
    text-align: center;
    padding: 3vh;
}
@media only screen and (max-width: 700px) {
    
    .container1 {
        width: 100%;
    }
    .container2 {
        width: 100%;
    }
    
}
